<div class="register-container" style="max-width: 400px; margin: auto; padding: 20px;">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter your first name." />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter your last name." />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Enter your username." />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your e-mail address." type="email" />   
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Enter your password." type="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
        Register
      </button>
      <div>
        If you already have an account, you can <a routerLink="/login">login</a> here.
      </div>
      

    
    </form>
  </div>