<div style="margin: 20px;">
    <h2 style="text-align: center; margin-bottom: 20px;">All Users</h2>
    <div *ngIf="users.length === 0" style="text-align: center;">
      <p>No users found.</p>
    </div>
    <div *ngIf="users.length > 0" style="display: flex; flex-wrap: wrap; justify-content: flex-start;">
      <mat-card *ngFor="let user of users" style="margin-bottom: 15px; padding: 10px; width: 30%; margin-right: 15px;">
        <mat-card-title>{{ user.username }}</mat-card-title>
        <mat-card-content>
            <p><strong>Name:</strong> {{ user.firstName }} {{ user.lastName }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Joined:</strong> {{ user.createdDate | date:'dd/MM/yyyy HH:mm' }}</p>
            <p><strong>Role:</strong> {{ user.role }}</p>
            <p><strong>Post Count:</strong> {{ user.postCount }}</p>
            <p><strong>Like Count:</strong> {{user.likeCount}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>